= simple_form_for @project do |f|
  = f.input :repository, required: true
  = f.input :webhook_secret, required: false
  ~ f.input :environment_raw, as: :text, input_html: {rows: 8}
  = f.button :button
